h1 {
  height: 100px;
  padding-top: 25px;
  padding-left: 25px;
}

.thumbnail {
  width: 60px;
  height: 80px;
}

.cursor {
  cursor: pointer;
  color: red;
  font-size: 30px;
}

.cursor:hover {
  text-decoration: none;
  filter: opacity(0.8);
}

.position-top-left {
  /* position: sticky; */
  margin: 10px 15px;
  font-weight: bold;
  top: 0;
  right: 0;
  width: 10%;
  text-transform: uppercase;
}

thead th{
  background-color: #f1f1f1;
  position: sticky;
  top: 0;
}

.navbar-brand img {
  height: 80px;
  width: 80px;
}

.project-fontsize-md {
  font-size: 18px;
}

#logoutArea {
  position: relative;
  top: 0;
  left: 90%;
}

#myModal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.5);
}

#myModal label {
  font-weight: bolder;
}

.modal-content {
  margin-top: 30px;
  background-color: #f1f1f1;
}

.form-borders {
  border: 1px solid #ced4da;
  border-radius: .25em;
  background-color: #fff;
  height: 40px;
}

.side-by-side {
  display: inline;
}

.big {
  font-size: 30px;
  /* font-weight: bold; */
  /* color: #eb7449; */
}

form img, .delete-btn {
  height: 38px;
  width: 38px;
}
