.smallify {
    font-size: 10pt;
    text-align: right;
}

.hyper {
    color: #0000FF;
    cursor: pointer;
}

.hyper:hover {
    text-decoration: underline;
}

/* @media (min-width: 576px) {
    .modal-dialog {
        max-width: 700px !important;
    }
} */

.thumbnail {
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 300px;
    width: 220px;

}

.form-margin {
    margin-left: 8px;
}